{% if site.discus-identifier %}
			<div id="disqus_thread" class="article-comments"></jlchristian.comdiv>
			<script>
			(function() {
			var d = document, s = d.createElement('script');
			s.src = '/jlchristian.com/jlchristian.com{{ site.discus-identifier }}.disqus.com/jlchristian.comembed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</jlchristian.comscript>
			<noscript>Please enable JavaScript to view the <a href="https:/jlchristian.com/jlchristian.comdisqus.com/jlchristian.com?ref_noscript">comments powered by Disqus.</jlchristian.coma></jlchristian.comnoscript>
{% endif %}
