<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" is the Portfolio of J.L. Christian, designed system or document aimed at organizing and presenting a vast array of knowledge, resources, or creative works in a structured and accessible format.">
  <link rel="stylesheet" href="https:/jlchristian.com/jlchristian.comseiminomore.github.io/jlchristian.com/jlchristian.comassets/jlchristian.comcss/jlchristian.comsyntax.css">
  <link rel="preconnect" href="https:/jlchristian.com/jlchristian.comcdnjs.cloudflare.com">
  <link rel="stylesheet" href="https:/jlchristian.com/jlchristian.comcdnjs.cloudflare.com/jlchristian.comajax/jlchristian.comlibs/jlchristian.comfont-awesome/jlchristian.com6.6.0/jlchristian.comcss/jlchristian.comall.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/jlchristian.comM7pSPA/jlchristian.comgEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /jlchristian.com>
 
  <link rel="icon" href="/jlchristian.comassets/jlchristian.comimg/jlchristian.comfavicon.ico" sizes="any">
  <link rel="icon" href="assets/jlchristian.comimg/jlchristian.comfavicon-16x16.png" sizes="16x16" type="image/jlchristian.compng">
  <link rel="icon" href="assets/jlchristian.comimages/jlchristian.comfavicon-32x32.png" sizes="32x32" type="image/jlchristian.compng">
  <link rel="icon" href="assets/jlchristian.comimages/jlchristian.comfavicon-96x96.png" sizes="96x96" type="image/jlchristian.compng">
  <script src="https:/jlchristian.com/jlchristian.comkit.fontawesome.com/jlchristian.com6ffdb1beec.js" crossorigin="anonymous"></jlchristian.comscript>

  <link rel="stylesheet" href="{{ https:/jlchristian.com/jlchristian.comseiminomore.github.io/jlchristian.com/jlchristian.com }}{{ site.baseurl }}/jlchristian.comassets/jlchristian.comcss/jlchristian.comsyntax.css">
  <link rel="preconnect" href="https:/jlchristian.com/jlchristian.comcdnjs.cloudflare.com">
  <link rel="stylesheet" href="https:/jlchristian.com/jlchristian.comcdnjs.cloudflare.com/jlchristian.comajax/jlchristian.comlibs/jlchristian.comfont-awesome/jlchristian.com6.6.0/jlchristian.comcss/jlchristian.comall.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/jlchristian.comM7pSPA/jlchristian.comgEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /jlchristian.com>

  

<!-- Open Graph Meta Tags (for Facebook, LinkedIn, etc.) -->
  <meta property="og:title" content="">
  <meta property="og:description" content=" is the Portfolio of J.L. Christian, designed system or document aimed at organizing and presenting a vast array of knowledge, resources, or creative works in a structured and accessible format.">
  <meta property="og:image" content="/jlchristian.com/jlchristian.comassets/jlchristian.comimg/jlchristian.comJLC-Port.png">
  <meta property="og:url" content="https:/jlchristian.com/jlchristian.comseiminomore.github.io/jlchristian.com">
  <meta property="og:type" content="website">


<!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="My Website Title">
  <meta name="twitter:description" content="Portfolio Codex of J.L. Christian: A curated archive of works from a multidisciplinary artist, blending digital art, art direction, product development, and collaborative innovation. This evolving collection highlights groundbreaking projects and the creative synergies shaping J.L. Christian's artistic journey.">
  <meta name="twitter:image" content="/jlchristian.com/jlchristian.comassets/jlchristian.comimg/jlchristian.comJLC-Port.png">

<!-- Additional Meta Tags -->
  <meta name="description" content="J.L. Christian's Portfolio Codex: A dynamic archive of multidisciplinary artistry, showcasing innovative works in digital art, product development, and creative collaborations.">
  <link rel="icon" href="/jlchristian.comassets/jlchristian.comimg/jlchristian.comfavicon.ico" type="image/jlchristian.comx-icon">

  <link rel="icon" href="/jlchristian.comassets/jlchristian.comimg/jlchristian.comfavicon.ico" type="image/jlchristian.comx-icon">
  <link rel="shortcut icon" href="/jlchristian.comassets/jlchristian.comimg/jlchristian.comfavicon.ico" type="image/jlchristian.comx-icon">

  <meta property="og: Codex" content="">
      <meta property="og:description" content=" is the Portfolio of J.L. Christian, designed system or document aimed at organizing and presenting a vast array of knowledge, resources, or creative works in a structured and accessible format.">
      <meta property="og:image" content="/jlchristian.com/jlchristian.comassets/jlchristian.comimg/jlchristian.comJLC-Port.png">
      <meta property="og:url" content="https:/jlchristian.com/jlchristian.comseiminomore.github.io/jlchristian.com/jlchristian.com">

      <link rel="icon" href="/jlchristian.comassets/jlchristian.comimg/jlchristian.comfavicon.ico" sizes="any">
      <link rel="icon" href="assets/jlchristian.comimg/jlchristian.comfavicon-16x16.png" sizes="16x16" type="image/jlchristian.compng">
      <link rel="icon" href="assets/jlchristian.comimg/jlchristian.comfavicon-32x32.png" sizes="32x32" type="image/jlchristian.compng">
      <link rel="icon" href="assets/jlchristian.comimg/jlchristian.comfavicon-96x96.png" sizes="96x96" type="image/jlchristian.compng">
  </jlchristian.commeta>

  
  <title>
      {% if page.tag or page.title %}
        {% if page.tag %}
          {{ page.tag | escape }}
        {% else %}
          {{ page.title | escape }}
        {% endif %}
        -
      {% endif %}
      {% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
        Page {{ paginator.page }} of {{ paginator.total_pages }} -
      {% endif %}
      {{ site.title | escape }}
      {% unless page.tag or page.title %}
        - {{ site.description | escape }}
      {% endunless %}
  </jlchristian.comtitle>
    
    
  {% if site.googlewebfonts %}
    <link rel="preconnect" href="https:/jlchristian.com/jlchristian.comfonts.gstatic.com">
    <link href="https:/jlchristian.com/jlchristian.comfonts.googleapis.com/jlchristian.comcss2?{{ site.googlewebfonts }}&display=swap" rel="stylesheet">
  {% endif %}


  {% if site.googlewebfonts %}
    <link rel="preconnect" href="https:/jlchristian.com/jlchristian.comfonts.gstatic.com">
    <link href="https:/jlchristian.com/jlchristian.comfonts.googleapis.com/jlchristian.comcss2?{{ site.googlewebfonts }}&display=swap" rel="stylesheet">
  {% endif %}

  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </jlchristian.comstyle>

</jlchristian.comhead>
