<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="JLC-Folio Codex is a meticulously designed system or document aimed at organizing and presenting a vast array of knowledge, resources, or creative works in a structured and accessible format.">
  <link rel="stylesheet" href="https://seiminomore.github.io/JLC-Folio/assets/css/syntax.css">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

      <meta property="og:JLC-Folio Codex" content="JLC-Folio Codex">
      <meta property="og:description" content="JLC-Folio Codex is a meticulously designed system or document aimed at organizing and presenting a vast array of knowledge, resources, or creative works in a structured and accessible format.">
      <meta property="og:image" content="SeimiNomore/JLC-Folio/assets/img/JLC-Port.png">
      <meta property="og:url" content="https://seiminomore.github.io/JLC-Folio/">

      <link rel="icon" href="/JLC-Folio/img/favicon.ico" sizes="any">
      <link rel="icon" href="/JlC-Folio/img/favicon-16x16.png" sizes="16x16" type="image/png">
      <link rel="icon" href="/JlC-Folio/img/favicon-32x32.png" sizes="32x32" type="image/png">
      <link rel="icon" href="/JLC-Folio/img/favicon-96x96.png" sizes="96x96" type="image/png">
  
  <title>
      {% if page.tag or page.title %}
        {% if page.tag %}
          {{ page.tag | escape }}
        {% else %}
          {{ page.title | escape }}
        {% endif %}
        -
      {% endif %}
      {% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
        Page {{ paginator.page }} of {{ paginator.total_pages }} -
      {% endif %}
      {{ site.title | escape }}
      {% unless page.tag or page.title %}
        - {{ site.description | escape }}
      {% endunless %}
    </title>
  
  

  
    <link rel="shortcut icon" href="https://seiminomore.github.io/JLC-Folio/favicon.png">
    <link rel="alternate" type="application/atom+xml" title="JLC-Folio" href="https://seiminomore.github.io/JLC-Folio/atom.xml">
    <link rel="alternate" type="application/json" title="JLC-Folio" href="https://seiminomore.github.io/JLC-Folio/feed.json" />
    <link rel="sitemap" type="application/xml" title="sitemap" href="https://seiminomore.github.io/JLC-Folio/sitemap.xml" />
      
  {% if site.googlewebfonts %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?{{ site.googlewebfonts }}&display=swap" rel="stylesheet">
  {% endif %}

  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

</head>
