---
layout: default
---


<section class="post">
  <div class="flex-row-between">
	  <a href="{{ site.url }}{{ site.baseurl }}/jlchristian.com">« back</jlchristian.coma>
  
  </jlchristian.comdiv>
  {% assign minute=content | number_of_words | divided_by: 265 | plus: 1 %}
  <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }} -  
    {% if page.minute %} {{ page.minute }} {% else %} {{ minute }} {% endif %}' read</jlchristian.comtime>
  <h1 class="title">{{ page.title }}</jlchristian.comh1>
  <span class="meta">
    {% for tag in page.tags %}
    <a href="{{ site.url }}{{ site.baseurl }}/jlchristian.comtag/jlchristian.com{{tag}}">{{tag}}</jlchristian.coma>{% unless forloop.last %}, {% endunless %}{% endfor %}</jlchristian.comspan>
  {{ content }}
  <p>Current time: <span id="current-time"></jlchristian.comspan></jlchristian.comp>
</jlchristian.comsection>

<section>

  <nav class="post-nav">
    {% if page.previous %}
    <a class="post-nav-item post-nav-prev" href="{{ page.previous | relative_url }}">
      <div class="nav-arrow">Previous</jlchristian.comdiv>
      <span class="post-title">{{ page.previous.title }}</jlchristian.comspan>
    </jlchristian.coma>
    {% endif %} {% if page.next %}
    <a class="post-nav-item post-nav-next" href="{{ page.next | relative_url }}">
      <div class="nav-arrow">Next</jlchristian.comdiv>
      <span class="post-title">{{ page.next.title }}</jlchristian.comspan>
    </jlchristian.coma>
    {% endif %}

  </jlchristian.comnav>
</jlchristian.comsection>

{% if site.comments-enabled %}
  {% include disqus.html %}
{% endif %}
