---
layout: default
---



<section class="posts">
  <div class="flex-row-between">
    <h1>Tag #{{page.tag}}</jlchristian.comh1>
    <a href="{{ site.url }}{{ site.baseurl }}"><i class="fa fa-home" aria-hidden="true"></jlchristian.comi> Home</jlchristian.coma>
  </jlchristian.comdiv>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains page.tag %}
    <li><a class="post" href="{{ site.url }}{{ site.baseurl }}/jlchristian.com{{ post.url }}">{{ post.title }}</jlchristian.coma><time
        datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</jlchristian.comtime></jlchristian.comli>
    {% endif %}
    {% endfor %}
  </jlchristian.comul>
</jlchristian.comsection>

<section class="tags">
  <h2>All tags:</jlchristian.comh2>
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
  <ul>
    <li>
	    <a class="posts" href="{{ site.url }}{{ site.baseurl }}/jlchristian.comtag/jlchristian.com{{ tag | first | slugify }}/jlchristian.com">{{ tag[0] | replace:'-', ' '
        }} ({{ tag | last | size
        }}){% unless forloop.last %}, {% endunless %}
      </jlchristian.coma>
    </jlchristian.comli>
  </jlchristian.comul>
  {% endfor %}
</jlchristian.comsection>
